<h1><%= @author.name %></h1>
<p>Age when first book published: <%= @author.age_when_first_published %></p>
<p>Living?: <%= @author.currently_alive %></p>
<p>Created At: <%= @author.created_at %></p>
<p>Updated At: <%= @author.updated_at %></p>
<p>ID: <%= @author.id %></p>
<p>Total number of books for <%= @author.name %>: <%= @author.book_count %></p>
<%= link_to "Books by #{@author.name}", "/authors/#{@author.id}/books" %>