<h1>Books</h2>
<% @books.each do |book| %>
  <h3><%= book.name %></h3>
  <p>Length: <%= book.length %></p>
  <p>In Print?: <%= book.in_print %></p>
  <p>Created At: <%= book.created_at %></p>
  <p>Updated At: <%= book.updated_at %></p>
  <p>ID: <%= book.id %></p>


  
<% end %>
