<%= button_to "All Books", "/books", method: :get %>
<%= button_to "All Authors", "/authors", method: :get %>

<%= form_with url: "/books", method: :get, local: true do |form| %>
  <%= form.label :search %>
  <%= form.text_field :search %>
  <%= form.submit "Search Books" %>
<% end %>

<h1>Books</h2>
<% @books.each do |book| %>
    <h3><%= book.name %></h3>
    <p>Length: <%= book.length %></p>
    <p>In Print?: <%= book.in_print %></p>
    <p>Created At: <%= book.created_at %></p>
    <p>Updated At: <%= book.updated_at %></p>
    <p>ID: <%= book.id %></p>
    <%= link_to "Update Book", "/books/#{book.id}/edit" %>
    <%= link_to "Delete Book", "books/#{book.id}", method: :delete %>
<% end %>
