<h1><%= @book.name %></h1>
<h3>Author: <%= @book.author.name %></h3>
<p>Length: <%= @book.length %></p>
<p>In_print?: <%= @book.in_print %></p>
<p>Created At: <%= @book.created_at %></p>
<p>Updated At: <%= @book.updated_at %></p>
<p>ID: <%= @book.id %></p>

