<%= link_to "All Books", "/books" %>
<%= link_to "All Authors", "/authors" %>
<%= link_to "Create Book",  "/authors/#{@author.id}/books/new" %>
<%= link_to "Sort Books Alphabetically", "/authors/#{@author.id}/books?sort=name"%>
<h1>Books by <%= "#{@author.name}"%> </h1>
<% @books.each do |book| %>
<h3>Name: <%= book.name %></h3>
<p>Length: <%= book.length %></p>
<p>In_print?: <%= book.in_print %></p>
<p>Created At: <%= book.created_at %></p>
<p>Updated At: <%= book.updated_at %></p>
<p>ID: <%= book.id %></p>
<%= link_to "Update Book", "/books/#{book.id}/edit" %>
<% end %>

